{% extends 'base.html' %}
 
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">{{title}}</h1>
<form action="" method="POST">
    {% csrf_token %}
    <p><label for="id_1">Текст</label><input type="text" id="id_1" name="text"></p>
    <p><label for="id_2">T\F</label><input type="checkbox" id="id_2" name="chek"></p>
    <p><label for="id_3">Number</label><input type="number" id="id_3" name="num"></p>
    <p><label for="id_4">Password</label><input type="password"id="id_4"name="pass"></p>
    <button type="submit">send</button>

</form>
{% endblock %}