{% extends 'base.html' %}
{% block content %}
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <form class="search" action="{% url 'search' %}" method="GET">
        <input type="text" name="q" placeholder="Поиск...">
        <button type="submit">Найти</button>
    </form>
<ul>
    {% for p in parts %}
    <li>
        <h2>{{ p.name }}</h2>
        <p>{{ p.descr }}</p>
        <p><a href="{{p.get_absolute_url}}">Заказать</a> </p>
        {% if not forloop.last %}
        <hr>
        {%endif%}
        {% empty %}
        <p>Ничего не найдено.</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}